// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFA500;
$orange: #FFA500;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

.yellow {
  color: $yellow;
  text-shadow: 2px black;
}
