
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;
  border-radius: 5px;


}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.icon i {
  color: #FFA500;
}

.card, a {
  color: #212529;
  text-decoration: none;
}

.card a:hover {
  color: #212529;
  text-decoration:underline;
  text-decoration-color: #FFA500;
}

.box-size{
  height: 700px;
}

.cards .card-body {
  background-color: #F4F4F4;
  padding-left: 0px;
  font-family: 'Manrope', sans-serif;
  line-height: 10px;

}

.card-show{
  background-color: #F4F4F4;
  border: 0;
}
